[run]
omit = everest/ini.py
       everest/flexfilter.py
       everest/rfc3339.py
       everest/testing.py
       everest/tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
